<!-- Simple list of travel destinations -->
 <div *ngIf="loading" class="loading-container" >
    <mat-spinner> </mat-spinner><p>
        loading....
    </p>
 </div>
 <div *ngIf="!loading && errorMsg.length>0">
    <p>{{ errorMsg }}</p>
</div>
<div *ngIf="!loading && !errorMsg && destinations.length > 0" class="gallery-container">
    <div *ngFor="let destination of destinations" class="gallery-card">
        <img [src]="'assets/images/' + destination.image" alt="{{ destination.title }}" class="gallery-image">      <div class="gallery-content">
        <h3 class="gallery-title">{{ destination.title }}</h3>
        <p class="gallery-description">{{ destination.description }}</p>
      </div>
    </div>
  </div>
  
  <!-- Message if no destinations are available -->
  
  